<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input formControlName="username" type="text" placeholder="მომხმარებელი">
    </div>
    <p class="required" *ngIf="get('username').invalid && get('username').touched">
      <ng-container *ngFor="let errorMessage of errors('username')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input formControlName="password" type="password" placeholder="პაროლი">
    </div>
    <p class="required" *ngIf="get('password').invalid && get('password').touched">
      <ng-container *ngFor="let errorMessage of errors('password')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>
  <div>
    <a routerLink="register" href="/auth/register">
      <span class="ui orange text">რეგისტრაცია</span>
    </a>
    <button type="submit" class="ui basic orange right floated button">
      <i class="sign in alternate icon"></i>
      შესვლა
    </button>
  </div>
</form>
